.flex {
    display: flex;
    justify-content: center;
}

.main {
    margin-top: 100px;
}   

.line {
    margin-bottom: 15px;
}

.inp {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 8px;
    border: none;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.check {
    height: 12px;
    width: 12px;
    border-radius: 12px;
    margin-top: 10px;
    margin-left: 20px;
}


.btn1 {
    font-size: 25px;
    text-shadow: 5px 2px rgba(0,00,0,0.5);
    color: #18C460;
    text-decoration: none;
    align-self: center;
    margin: auto;
    margin-top: 5px;
    margin-left: 120px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-weight: 400;
}

.btn1:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
